body {
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: #222;
	color: white;
	margin-left: 15px;
}

a {
	color: orange;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.game-icon {
	width: 100px;
	height: 100px;
	padding: 10px;
}
