body {
	font-family: "Lucida Console", "Courier New", monospace;
	background-image: url(./darkpattern.png);
	color: white;
	margin-left: 15px;
}
a {
	color: orange;
}
p {
	line-height: 1.4em;
}
h1 {
	margin: 0px 0px 0px 0px;
}

.game-list {
	display: flex;
	flex-wrap: wrap;
}
.game-icon {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.container {
	width: 80%;
	margin: auto;
	padding: 16px;
	border-radius: 12px;
	background-color: #333;
}

.navbar {
	list-style-type: none;
	margin: 0 auto 20px auto;
	padding: 0;
	width: 90%;
	height: 48px;
	overflow: hidden;
	background-color: #333;
	border-radius: 10px;
}

.navbar-item {
	display: inline;
	float: left;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
.navbar-item:hover {
	background-color: #444;
}

.current-navbar-item {
	background-color: green;
}
.current-navbar-item:hover {
	background-color: green;
}